{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOSOTROS{% endblock titulo %}


{% block contenido %}
	<h2>Nombre Completo: ALA' (significa SEMILLA en idioma Qom)
		Responsables: 
		Felicia Del Carmen Sambrana Presidente
		Arevalo Antolin Edy Tesorero
		Miguel Amadeo Barrios Secretario
		MISIÓN: Lunes 12/12 coordinamos reunion con el profe para que nos comunique la tarea que realizan.
		CONTACTO: 3624002764
		Colores: Los del logo, marrón, verde y celeste.
		</h2>
{% endblock contenido %}

