{% extends 'base.html' %}
{% load static %}

{% block titulo %}Nosotros{% endblock titulo %}


{% block contenido %}
<center>
	
	<div>
		<h1>ALA' (significa SEMILLA en idioma Qom)</h1>
		<hr>
		<h2>Responsables: </h2>
		<h3>Presidente : <strong>Felicia Del Carmen Sambrana</strong>  </h3>
		<h3>Tesorero: <strong>Arevalo Antolin Edy </strong> </h3>
		<h3>Secretario : <strong>Miguel Amadeo Barrios</strong>  </h3>
			</div>
		<br><br><br><br><br><br><br><br><br><br>
</center>
	
{% endblock contenido %}

